.card {
    width: 168px;
    height: 277px;
    opacity: 1;
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #fff;
    font-family: var(--primary-fontfamily);
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    /* transform: rotate(0deg); Default is 0deg */
}

.card:hover {
    
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.image-container {
    width: 100%;
    height: 200px; /* Adjust based on design needs */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-bottom: 8px;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.details {
    padding: 0 8px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.name {
    font-size: 14px;
    font-weight: 600;
    color: #000;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase; /* Matching the uppercase style from shop header */
}

.price {
    font-size: 14px;
    font-weight: 500;
    color: #000;
}

.favorite-btn {

   
    background: none;
    border: none;
    cursor: pointer;
    z-index: 10;
}
.price-fav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
